{#

    The HTML for the search form asking for an address.

#}
<div class="address-form">
    <h1>Find my next election</h1>
    <form method="post" action="{{ url_for('address_form.search') }}">
        <p>Enter the address where you are registered to vote.</p>
        <div>
            <label for="street-field">Street:</label>
            <input name="streetAddress" id="street-field" value="{{ streetAddress }}" />
        </div>
        <div>
            <label for="street-2-field">Additional Street:</label>
            <input name="extendedStreetAddress" id="street-2-field" value="{{ extendedStreetAddress }}" />
        </div>
        <div>
            <label for="city-field">City:</label>
            <input name="addressLocality" id="city-field" value="{{ addressLocality }}" />
            <label for="state-field">State:</label>
            <select name="addressRegion" id="state-field">
                <option></option>
                {% for s in states %}
                <option value="{{ s }}"
                    {%- if s == addressRegion -%}
                    {{' '}}selected="selected" {#- Prepend a space so the HTML is output nicely. -#}
                    {%- endif -%}
                >
                    {{- s -}}
                </option>
                {% endfor %}
            </select>
            <label for="zip-field">Zip:</label>
            <input name="postalCode" id="zip-field" size="10" value="{{ postalCode }}" />
        </div>
        {# We assume United States for this exercise. Obvs, this should be parameterized. #}
        <input type="hidden" name="addressCountry" value="US" />
        <input type="submit" value="Search" />
    </form>
</div><!-- .address-form -->
